.auth-wrapper{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/intro.png") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: jackInTheBox 1s ;
}

.welcome__link{
  margin-left: 3px;
  padding: 16px 20px 10px 18px;
  color:#ec1e79;
  border: 3px solid currentColor;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gotham_Pro', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.2px;
  text-align: left;
  color: #ec1e79;
}
.welcome__link:hover{
  background-color: #cb2376;
  color:#ffffff;
  border-color: #cb2376;
  transition: .3s;
}
.welcome__logo-img{
  margin-bottom: 29px;
  margin-top:14px;
  
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
